<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>
<body>
    <div>Hello <span id="username"></span></div>
    <br/>
    <div id="data_from_protected_api"></div>
    <br/>
    <button onclick="signOut();" class="btn btn-primary">
        sign out
    </button>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static',
            filename='aws-cognito-sdk.min.js') }}"></script>
    <script src="{{ url_for('static',
            filename='amazon-cognito-identity.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script>
        $(window).ready(setWelcome);
    </script>
</body>
</html>
